<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<!--This is the system name for the service-->
		<add key="serviceName" value="FolderCleanup"/>
		
		<!--Location of InstallUtil.exe file in the .NET framework-->
		<add key="dotnetDir" value="C:\Windows\Microsoft.NET\Framework64\v4.0.30319"/>
		
		<!--Edit these to change what shows for Name and Description in Services-->
		<add key="serviceDisplayName" value="Adam's Folder Cleanup"/>
		<add key="serviceDescription" value="Deletes everything in the folder older than X days"/>
		
		<!--Time in seconds to check for files to delete-->
		<add key="pollInterval" value="300"/>
		
		<!--Enter the full path of the folder you want the service to monitor-->
		<add key="folderToCleanup" value="C:\Users\adamb\Repository\C#\FolderCleanup\FolderCleanup\bin\Debug\Cleanup"/>
		
		<!--Number of days to keep files since the last time they were accessed-->
		<add key="fileRetainDays" value="7"/>
		
		<!--Maximum size of log files in KiloBytes-->
		<add key="maxLogSize" value="50"/>

		<!--Time in seconds to run log maintenance-->
		<add key="maintInterval" value="600"/>
	</appSettings>
	<startup>
		<supportedRuntime version="v4.0"/>
	</startup>
</configuration>