<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<!--This is the system name for the service-->
		<add key="serviceName" value="FolderCleanup"/>
		
		<!--Location of InstallUtil.exe file in the .NET framework-->
		<add key="dotnetDir" value="C:\Windows\Microsoft.NET\Framework64\v4.0.30319"/>
		
		<!--Edit these to change what shows for Name and Description in Services-->
		<add key="serviceDisplayName" value="Adam's Folder Cleanup"/>
		<add key="serviceDescription" value="Deletes everything in the folder older than X days"/>
		
		<!--Time in seconds to check for files to delete-->
		<add key="pollInterval" value="10"/>
		
		<!--Enter the full path of the folder you want the service to monitor-->
		<add key="folderToCleanup" value="C:\Users\adamb\Downloads"/>
		
		<!--Number of days to keep files-->
		<add key="fileRetainDays" value="7"/>

		<!--LOGGING: 0 - Disabled, 1 - Enabled-->
		<add key="loggingEnabled" value="1"/>
		<!--Maximum size of log files in KiloBytes-->
		<add key="maxLogSize" value="50"/>
		<!--Time in milliseconds to save log message to file-->
		<add key="logWriteInterval" value="1000"/>
	</appSettings>
	<startup>
		<supportedRuntime version="v4.0"/>
	</startup>
</configuration>